body {
  background-color: #CCCCCC;
}
hr {
  border-style: dotted none none none;
  width: 5%;
  border-color: #FFFFFF;
  border-width: 10px;
}

h1 {
  color: #66BFBF;
  font-family: orbitron, sans-serif;
}

h3 {
  color: #0000FF;
  font-family: orbitron, sans-serif;
}
#personal-pic {
  width: 200px;
}
